<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1> <a href="/"> {{title}} </a> </h1>
  </header>
  {{{body}}}
  <footer>
    <p> Made with &hearts; at Ironhack. </p>

    <img src="https://media.giphy.com/media/l2QZUkF4YilI5fO6I/giphy.gif" alt="Gif">

  </footer>
  <script src='/javascripts/script.js' />
  </body>
</html>